table,td,th{
    border:1px solid #000;
    border-collapse:separate;
    border-spacing:10px;
}
td, th {
    border: 1px solid #000;
}
.td{
    width:100px;
    height:100px;
    vertical-align:bottom;
    text-align:center;
}
@media screen and (max-width:480px){
.container{
    flex-wrap:
}
}