body {
    margin: 0;
    background-color: whitesmoke;
}

#gate {
    width: fit-content;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    perspective: 600px;
}

#text {
    position: relative;
    bottom: -135px;
    z-index: -1;
    text-align: center;
    font-size: 20px;
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-weight: bold;
}

.door {
    float: left;
    width: 350px;
    height: 250px;
    background-color:purple;
    border: 5px solid rebeccapurple;
    transition-duration: 2s;
}

#left-door {
    transform-origin: left;
}

#right-door {
    transform-origin: right;
}

#gate:hover #left-door {
    transform: rotateY(60deg);
}

#gate:hover #right-door {
    transform: rotateY(-60deg);
}{
}